/* .container{
    margin-top:116px;
   
}

#arrow{
    padding-left: 10px;
}

.modal {
    height: 50vw;
}

.texthover1:hover{
    background-color: #ccc;  
    font-size:30px;
    font-weight: 30px;
    color: #282E52;

  }
  .texthover1 {
    font-size:30px;
    font-weight: 30px;
    color: red;
  }
 
  .texthover:hover{
    background: #ccc; 

  }

  .header{
    margin-right:70px;
    width: 330px;
    font-size:19px;
    font-weight: bold;
  
}


.header:hover{
    background-color:#ccc;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
} */