        .inputboxfield {
          width: 100%;
          height: auto;
          padding: 10px 10px;
          margin: 8px 0;
          display: inline-block;
          font-weight: '800';
          color: "#3A3A3A";
          border: none;
          box-sizing: border-box;
          border-bottom: 2px solid #282E52;
        }

        .swal-wide{
          width:400px !important;
          height:300px !important;
          font-size: 4px !important;
        }
      
        
        .hangButton {
         
          color: white;
          font-weight: 500;
          padding: 14px 20px;
          margin-top: 40px;
          border: 0px;
          height:60px;
          cursor: pointer;
          width: 70%;
          margin-bottom: 40px;
          transition: .2;
          /* background: '#282E52'; */
          
        }

        /* .hangButton:hover {
          opacity: 0.8;
        }
      */
        