.product{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    height: auto;
    margin:10px;
    background-color:white;
    z-index: 1;
    width: 1280px;
    padding: 20px;
    /* margin-top: -1000px; */
   
}

.swal-wide{
    width:400px !important;
    height:300px !important;
    font-size:4px !important;
  }

.product_rating{
    display: flex;    
}
.product_price{
    margin-top: 5px;
}
.product_info{
    font-size: 20px;
    height : 600px;
    margin-bottom: 15px;
    

}
.product > img{
    height: 60vh;
    width: 546.0963745117188px;
    margin-right: 100px;
    top: 664px;
    margin-bottom: 300px;
    margin-left: 20px;
    border-radius: 20px;
        object-fit: contain;
        
}
/*.product_info > button{
    background-color:  #282E52;
    border: 1px solid;
    border-color:#a88734 #9c7e31;
    height: 34.04486083984375px;
    width: 202px;
    left: 859px;
    top: 1162px;
    border-radius: 0px;
    color: white;
}*/